.footerSkeleton {
  padding: 24px 16px 16px;
  background-color: #f2f2f2;
  box-sizing: border-box;

  .sections {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding-bottom: 42px;
    box-sizing: border-box;

    .section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  > hr {
    display: none;
    margin: 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
  }

  .bottom {
    display: grid;
    gap: 8px;
    grid-template-areas:
      'region'
      'links'
      'copyright';
    padding: 8px 0;

    :nth-child(1) {
      grid-area: region;
    }

    :nth-child(2) {
      grid-area: links;
    }

    :nth-child(3) {
      grid-area: copyright;
    }
  }

  &.night {
    background-color: #1f1f1f;

    > hr {
      border-color: #4d4d4d;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-right: 117px;
    padding-left: 117px;
    padding-bottom: 0;

    .sections {
      padding-top: 72px;
      padding-bottom: 72px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    > hr {
      display: block;
    }

    .bottom {
      gap: 8px;
      grid-template-areas:
        'links links'
        'copyright region';
      :nth-child(1) {
        text-align: right;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    padding-right: 191px;
    padding-left: 191px;
  }

  @media screen and (min-width: 1280px) {
    padding-right: 233px;
    padding-left: 233px;

    .bottom {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: 'links copyright region';
    }
  }

  @media screen and (min-width: 1600px) {
    padding-right: 287px;
    padding-left: 287px;
  }

  @media screen and (min-width: 1920px) {
    padding-right: 498px;
    padding-left: 498px;
  }
}
