.footerBottom {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'region'
    'links'
    'copyright';

  gap: 8px;

  a {
    color: #666;
    font-size: 12px;
    line-height: 14px;
  }

  .region {
    grid-area: region;
  }

  .copyright {
    grid-area: copyright;
  }

  .bottomLinks {
    grid-area: links;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 19px;

    > span {
      color: #666;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.02em;
    }
  }

  &.night {
    a {
      color: #999;
    }

    .bottomLinks {
      > span {
        color: #999;
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 8px 0;
    grid-template-areas:
      'links links'
      'copyright region';

    .region {
      text-align: right;
    }
  }

  @media screen and (min-width: 1280px) {
    grid-template-areas: 'copyright links  region';
    grid-template-columns: auto 1fr auto;
    gap: 24px;
  }
}
